body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0f0f23, #1a1a2e);
    font-family: 'Arial', sans-serif;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.container {
    position: relative;
    z-index: 2;
    padding: 50px;
}

h1 {
    font-size: 3em;
    text-shadow: 0 0 20px #ffd700;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}

.moon-stars {
    margin-top: 50px;
}

.moon {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #fff, #ddd);
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 30px #fff;
}

.stars {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50,10 60,40 90,40 68,58 78,88 50,70 22,88 32,58 10,40 40,40" fill="%23ffd700"/></svg>') no-repeat center;
    opacity: 0.8;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
